.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* dashboard */

.dashboard{
  padding-left: 275px;
}

.dashboard .user-card{
  width: 24rem;
  padding: 20px;
  
}

.dashboard .icon{
  text-align: right;
  font-size: 50px;
  padding-right: 30px;
}

.dashboard .number {
  padding-top: 20px;
  padding-left: 30px;
}

.dashboard .card-title{
  font-size: 20px;
  font-weight: 600;
}

/* dashboard table */

.dashboard-table {
  padding-left: 275px;
  padding-top: 30px;
}

/* shop */

.shop {

}

/* customer page */

.customer-page {
  padding-left: 275px;
  padding-top: 10px;
  width: 90%;
}

/* order-page */

.orders-page {
  padding-left: 275px;
  padding-top: 10px;
  width: 90%;
}